

@import "form";
@import "dashboard";
@import "header";

.application {
  @include size(100%, auto);
  min-height: 100%;
  margin: 0;
  padding: 0;

  .area {
    @include size(990px, auto);
    min-height: 100%;
    margin: 0 auto;
    background-color: #ccc;
  }

}